.divcon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  color: white;
}
.subdiv {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.div1 {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.bgcolor {
  background-color: aliceblue;
  color: black;
  padding: 24px;
  margin-top: 13px;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.btnn {
  color: #dd1264;
}
